:root {
  --interplot-font-size:       6mm;
  --interplot-grid:            8mm;
  --interplot-glyph-bgcolor:   rgba( 255, 255, 255, 0.75 );
  font-size:              var(--interplot-font-size);
}


body {
  font-family:            'Noto Serif';
  font-size:              125%;
  /* centimeter grid */
  /* thx to https://stackoverflow.com/a/32861765/7568091 */
  background-size:  10mm 10mm;
  background-image:
    /* ### TAINT use CSS variables */
    linear-gradient( to right,  rgba( 188, 19, 57, 0.25 ) 0.1mm, transparent 1px ),
    linear-gradient( to bottom, rgba( 188, 19, 57, 0.25 ) 0.1mm, transparent 1px);
}

stick { /* composing stick, Winkelhaken */
  display:                block;
  margin:                 auto;
  margin-left:            10mm;
  height:                 1.5em;
  width:                  100em; /* Adjust to line length = galley width */
  text-align:             justify;  /* or `right` in RTL? */
  text-align-last:        justify;  /* or `right` in RTL? */
  overflow-x:             visible;
  white-space:            nowrap;
  outline:                1px solid rgba( 0, 100, 0, 0.5 ); }


ng { /* EXPERIMENTAL: 'n-gram' as DOM element */
  display:                inline-block;
  /*vertical-align:         text-bottom;*/
  /*outline:                1px solid green;*/
  margin-right:           24Q; /* ### TAINT compute from text size */ }

/*==============================================================================*/
sp { /* EXPERIMENTAL: space as DOM element */;
  display:                inline-block;
  /*vertical-align:         text-bottom;*/
  /*outline:                1px solid green;*/
  margin-right:           4Q; /* ### TAINT compute from text size */
  width:                  0mm;
  height:                 1em; }

spleft {
  display:                inline-block;
  /*vertical-align:         text-bottom;*/
  /*outline:                1px solid green;*/
  margin-right:           -1Q; /* ### TAINT compute from text size */
  width:                  0mm;
  height:                 1em; }

galley { /* Setzschiff */
  display:                block;
  margin-left:            10mm;
  outline:                1px solid rgba( 0, 0, 100, 0.5 ); }

/*rubberband {
  display:                inline;
  outline:                1px solid red; }
*/

flag {
  display:                inline-block;
  vertical-align:         text-bottom;
  outline:                1px solid red;
  height:                 1em;
  width:                  0mm; }



