:root {
  --interplot-font-size:                  6mm;
  --interplot-grid:                       8mm;
  --interplot-glyph-bgcolor:              rgba( 255, 255, 255, 0.75 );
  --interplot-warn-missing-glyphs-bgcolor:  #ff000020;
  --interplot-warn-missing-glyphs-olcolor:  orange;
  font-size:                              var(--interplot-font-size);
}


body {
  text-rendering:         optimizeLegibility;
  text-rendering:         optimizeSpeed;
  text-rendering:         geometricPrecision;
  font-family:            'flow', 'fallback';
  font-feature-settings:  'liga', 'clig', 'dlig', 'hlig', 'calt', 'swsh', 'cv11', 'tnum';
  margin:                 0mm;
  padding:                0mm; }


zoomer {
  display:                block;
  zoom:                   1; }

artboard {
  /*zoom: 0.75;*/
  display:                block;
  position:               absolute;
  /*max-width:              1000mm;*/
  /*min-width:              1000mm;*/
  /*max-height:             1000mm;*/
  /*min-height:             1000mm;*/
  min-width:              100%;
  min-height:             100%;
  padding:                10mm;
  z-index:                -100;
  background-image:       url( ../backgrounds/background_linen_lime.png ); }

page,
paper {
  max-width:              210mm;
  min-width:              210mm;
  max-height:             calc( 297mm - 0.15mm ); /* NOTE (maybe outdated by now) Experimentally detected that paper height */
  min-height:             calc( 297mm - 0.15mm ); /* 297mm - 0.13mm is too little, - 0.15mm is enough to avoid intervening blank pages in the PDF. */
}

page {
  margin:                 10mm;
  display:                flex;
  float:                  left;
  position:               relative;
  /*z-index:                100; */
}

page.left   { left:   9mm; }
page.right  { right:  9mm; }

chase {
  width:                  calc( 210mm          - 10mm );
  height:                 calc( 297mm - 0.15mm - 10mm );
  min-width:              calc( 210mm          - 10mm );
  min-height:             calc( 297mm - 0.15mm - 10mm );
  max-width:              calc( 210mm          - 10mm );
  max-height:             calc( 297mm - 0.15mm - 10mm );
  left:                   5mm;
  top:                    5mm;
  position:               relative;
  display:                flex;
  flex-direction:         column;
}

paper {
  position:               absolute;
  background-size:        5mm 5mm;
  background-color:       #fdfde2; }
.debug paper { background-color:  #ffffd3; background-image: url(../backgrounds/grid.svg); }
@media print  { paper {
  display:                none; } }

@media screen {
  paper,
  .dropshadow {
    box-shadow:             10px 10px 35px 0px rgba(0,0,0,0.5); } }

earmark {
  display:                  block;
  position:                 absolute;
  top:                      5mm;
  font-size:                9mm;
  background-color:         #ff0;
  border:                   0.5mm solid black;
  border-radius:            1mm;
  line-height:              9mm;
  height:                   10mm;
  width:                    15mm;
  font-family:              'Helvetica';
  /*z-index:                  99;*/
  text-align:               center; }

page.left   earmark { padding-left:   3mm; text-align: left;  top: 17mm; left:   -14mm; }
page.right  earmark { padding-right:  3mm; text-align: right; top:  5mm; right:  -14mm; }

@media print  { earmark {
  display:                  none; } }

/*
spread

*/

slug {
  display:                block;
  margin:                 0mm;
  font-size:              4mm;
  line-height:            5mm;
  height:                 5mm;
  word-spacing:           +0.25ex;
  foo:                    bar;
  dang:                   var(--interplot-font-size);
  text-align:             left;
  text-align-last:        left;
  overflow-x:             visible;
  white-space:            nowrap; }

trim {
  display:                inline;
  margin:                 0mm; }

composer { /* Winkelhaken */
  display:                block; }

galley { /* Setzschiff */
  display:                block; }

@media screen {
  .debug slug,
  .debug column,
  /*.debug hbox,*/
  .debug hgap,
  /*.debug vbox,*/
  .debug vgap,
  .debug xhgap,
  .debug topmargin,
  .debug bottommargin,
  .debug leftmargin,
  .debug rightmargin {
    /*box-shadow: inset 3px 3px  3px 0px #0003, inset -3px -3px 3px 0px #ffff; */
    box-shadow: inset 5px 3px 11px 2px white, inset -3px -3px 9px 2px #0002;
    } }


}

@media screen { .debug chase        { outline: 1px solid #0002; } }
@media screen { .debug galley       { outline: 1px solid #0002; } }
@media screen { .debug paper        { outline: 1px solid #0002; } }
@media screen { .debug gauge        { outline: 1px solid #0002; } }
@media screen { .debug box          { outline: 1px solid #0002; } }
@media screen { .debug column       { outline: 1px solid #0002; } }
@media screen { .debug hbox         { outline: 1px solid #0002; } }
@media screen { .debug hgap         { outline: 1px solid #0002; } }
@media screen { .debug vbox         { outline: 1px solid #0002; } }
@media screen { .debug vgap         { outline: 1px solid #0002; } }
@media screen { .debug xhgap        { outline: 1px solid #0002; } }
@media screen { .debug topmargin    { outline: 1px solid #0002; } }
@media screen { .debug bottommargin { outline: 1px solid #0002; } }
@media screen { .debug leftmargin   { outline: 1px solid #0002; } }
@media screen { .debug rightmargin  { outline: 1px solid #0002; } }
/*@media screen { .debug slug         { outline: 1px solid #0002; } }*/
@media screen { .debug trim         { outline-right: 1px dotted #0002; } }


demo-paragraph {
  frob:                   'what?';
  text-indent:            10mm;
  display:                block;
  width:                  150mm;
  max-width:              150mm;
  text-align:             justify;
  text-align-last:        justify;
  font-size:              9mm;
  line-height:            10mm;
  /*margin:                 10mm; */
}

demo-paragraph::first-line {
  margin-left:            10mm;
  font-weight:            bold;
  color:                  blue; }

demo-paragraph::nth-line(2) {
  margin-left:            10mm;
  font-weight:            bold;
  color:                  green; }

demo-paragraph::last-line {
  margin-left:            10mm;
  color:                  red; }

@media screen { .debug demo-paragraph { outline: 1px dotted red; } }

.has-fallback-glyphs {
  background-color:       var(--interplot-warn-missing-glyphs-bgcolor);
  /*outline:                3mm solid var(--interplot-warn-missing-glyphs-olcolor); */
  }

page.has-fallback-glyphs {
  background-color:       #ffa9bdff; }


.gui { /* class for GUI elements that must be on topmost level */
  font-family:            'Helvetica';
  font-weight:            bold;
  z-index:                200; }

toolbox {
  display:                block;
  position:               fixed;
  background-color:       #fff5;
  padding:                3mm;
  top:                    0mm;
  left:                   0mm; }

@media print { toolbox { display: none; } }

/* ====================================================================================================== */
/* */
/* ------------------------------------------------------------------------------------------------------ */
box,
hbox {
  flex-shrink:            1;
  flex-grow:              1;
  display:                flex;
  flex-direction:         row;
  max-height:             100%;
  overflow-x:             visible;
  overflow-y:             hidden;
}

vbox {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

column {
  /* Nominal width so all columns in a flex box have the same width regardless of content: */
  width: 1mm;
  flex-shrink: 1;
  flex-grow: 1;
  position:               relative;
  max-height:             100%;
  overflow-x:             visible;
  /*overflow-y:             hidden;*/
}

hgap {
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}

xhgap {
  width: 100%;
  flex-shrink: 1000000;
  flex-grow: 1000000;
}

vgap {
  width: 5mm;
  min-width: 5mm;
  max-width: 5mm;
  flex-shrink: 0;
  flex-grow: 0;
}

leftmargin,
rightmargin {
  flex-shrink: 0;
  flex-grow: 0;
}

leftmargin {
  min-width: 15mm;
  max-width: 15mm;
}

rightmargin {
  min-width: 15mm;
  max-width: 15mm;
}

topmargin,
bottommargin {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

topmargin {
  min-height: 7mm;
  max-height: 7mm;
}

bottommargin {
  min-height: 13mm;
  max-height: 13mm;
}

