// :root {
//
//   --mktw-font-size:       6mm;
//   --mktw-grid:            8mm;
//   /*--mktw-grid-sidebar-wh: 5mm;*/
//   /*--mktw-grid-rightbar-wh:  10%;*/
//   --mktw-glyph-bgcolor:   rgba( 255, 255, 255, 0.75 );
//   font-size:              var(--mktw-font-size);
//   /*line-height-step:       var(--mktw-grid);*/
// }
//


body {
  /* centimeter grid */
  /* thx to https://stackoverflow.com/a/32861765/7568091 */
  background-size:  10mm 10mm;
  background-image:
    /* ### TAINT use CSS variables */
    linear-gradient( to right,  rgba( 188, 19, 57, 0.25 ) 0.1mm, transparent 1px ),
    linear-gradient( to bottom, rgba( 188, 19, 57, 0.25 ) 0.1mm, transparent 1px);
}

stick { /* composing stick, Winkelhaken */
  display:                block;
  margin:                 auto;
  margin-left:            10mm;
  height:                 1.5em;
  width:                  100em; /* Adjust to line length = galley width */
  text-align:             left;  /* or `right` in RTL? */
  text-align-last:        left;  /* or `right` in RTL? */
  overflow-x:             visible;
  white-space:            nowrap;
  outline:                1px solid rgba( 0, 100, 0, 0.5 ); }

galley { /* Setzschiff */
  display:                block;
  margin-left:            10mm;
  outline:                1px solid rgba( 0, 0, 100, 0.5 ); }

flag {
  display:                inline-block;
  vertical-align:         text-bottom;
  outline:                1px solid red;
  height:                 1em;
  width:                  0mm; }