
html * {
  /* Set height, width, borders, and global font properties here */
  /*font-family:            flow;*/
  /*font-size:              calc( 2 * var(--mktw-font-size) );*/
}

#chart {
  border:                 1px solid red;
  background-color:       #ffffe6;
  width:                  1200;
  height:                 1200;
}


.tau-chart__svg .label .label-token {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.tau-chart__legend__item {
    font-size: 24px;
    line-height: 1.2em;
    cursor: pointer;
}